<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>welcome to index.ejs</h1>
    <h1>helllo <%= 12+31+23 %></h1>
    <%= rn %>

    <script src="../js/app.js"></script>
  </body>
</html>
